<html>
<head>Add Product</head>
<body bgcolor="grey">
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}<br>
     <label> Product name </label>
    <input type="text" name="name" size="15"><br><br>
    <label> Description </label>
     <input type="text" name="des" size="15"><br><br>
    <label> Price </label>
     <input type="text" name="price" size="15"><br><br>
    <label> Image </label>
     <input type="file" name="img" size="15"><br><br>
    <input type="submit" value="submit">

</form>
</body>
</html>